{
	"semi": false,
	"tabWidth": 2,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 80,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"arrowParens": "always",
	"endOfLine": "auto",
	"importOrderSortSpecifiers": true,
	"importOrderSeparation": true,
	"importOrderCaseInsensitive": false,
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrder": [
		"^react$",
		"<THIRD_PARTY_MODULES>",
		"^sections|^sections/(.+)$",
		"^components|^components/(.+)$",
		"^utils",
		"^../(.+)$",
		"^./(sections|components|layouts|modules|utils)",
		"^[./]((?!scss).)*$",
		"./*.module.scss",
		"^assets/(.+)$",
		"^types/(.+)$",
		"type"
	],
	"jsxSingleQuote": true,
	"embeddedLanguageFormatting": "auto",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"useTabs": true,
	"vueIndentScriptAndStyle": false
}
