@import '../../styles/_variables';

.input {
	display: flex;
	height: 100%;
	width: 100%;
	border-radius: $border-radius-xs;
	border: $border-width-thin solid $neutral-color;
	background-color: $background-color-dark;
	padding: $spacing-sm $spacing-sm;
	font-size: $font-size-sm;

	&::placeholder {
		color: var(--placeholder-color, $text-color-neutral);
	}

	&:focus-visible {
		outline: none;
		border: $border-width-thin solid $accent-color;
	}

	&.disabled {
		cursor: not-allowed;
		opacity: $opacity-50;
	}
}
